<div class="w-full p-4 min-h-screen bg-slate-200 flex place-content-center place-items-center">
  <div class="w-full md:w-1/2 bg-white shadow p-4 space-y-2 rounded">
    <h1 class="font-black text-center text-2xl">
      Team Generator
    </h1>
    <div class="p-5 border-2 max-h-[300px] min-h-[300px]">
      <ul>
        <li *ngFor="let m of membres">{{m}}</li>
      </ul>
    </div>
    <div class="flex flex-col space-y-2">

      <input
      #membre
      type="text"
      placeholder="Name"
      class="outline-none border-2 p-3 font-bold"
      (input)="storeMembre(membre.value)"
      [value]="newMembreName"
      >

      <Button (click)="addMembre()" class="p-3 border bg-blue-500 text-white font-black hover:bg-blue-400">Add</Button>
    </div>
    <div class="flex space-x-2">
      <input 
      #teamNumberId
      type="number"
      placeholder="# of Teams"
      class="w-2/3 outline-none p-3 border-2"
      (input)="storeTeamNumber(teamNumberId.value)"
      [value]="teamNumber"
      >
      
      <button
      (click)="generateTeams()"
      class="p-3 font-bold bg-blue-500 hover:bg-blue-400 w-1/3 text-white"
      >Generate</button>
    </div>
    <div>
      <button 
      (click)="reset()"
      class="p-3 font-bold bg-red-500 hover:bg-red-400 w-full text-white"
      >Reset</button>
    </div>
    <div
      *ngIf="error"
      class="w-full p-3 text-red-600 font-bold">
      {{error}}
    </div>
    <div *ngIf="teams.length" class="flex flex-col space-y-2">
      <div *ngFor="let te of teams" class="w-full border-2 bg-slate-100 p-2">
          <ul *ngFor="let t of te">
            <li>{{t}}</li>
          </ul>
      </div>
    </div>
  </div>
</div>